<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <p><strong>Cardápio</strong></p>
      <code><%= @card %></code>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://www.image-mapper.com/photos/original/missing.png?1263880893" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://www.image-mapper.com/photos/original/missing.png?1263880893" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://www.image-mapper.com/photos/original/missing.png?1263880893" alt="...">
    </a>
  </div>
</div>
