/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 */

 *, *:before, *:after {
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }

body {
  background-image: rgb(196, 250, 243)
}

.main_container {
  margin-left: 5%;
}

 .main_content {
   border-left-style: solid;
   border-left-width: 2px;
   border-left-color: gray;
   width: 80%;
   float: left;
   margin-left: 30px;
   padding: 30px;
 }

 #sidebar_div {
   display: block;
   width: 20%;
   float: left;
   padding-right: 30px;
 }

 #navbar_icon_media {
   margin-right: 15px;
   margin-top: 1px;
   margin-bottom: 5px;
 }

 #navbar_icon_home {
   margin-right: 70px;
   margin-top: 8px;
   margin-bottom: 5px;
 }

 .form-container {
   padding-right: 50%;
   padding-left: 1%;
 }

 li:hover {
   color: #31708f;
   background-color: #d9edf7;
 }
