/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #eff3f6;
}

 .main_content {
   background-color: green;
   width: 80%;
   float: right;
 }

 #sidebar_div {
   display: block;
   width: 200px;
   float: left;
 }

 #navbar_icon_media {
   margin-right: 15px;
   margin-top: 1px;
   margin-bottom: 5px;
 }

 #navbar_icon_home {
   margin-right: 70px;
   margin-top: 8px;
   margin-bottom: 5px;
 }
